.graphic-design-container {
    padding: 20px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    text-align: center;
    margin-top: 3rem;
}

.header h5 {
    color: var(--color-light);
    margin-bottom: 1rem; /* Adjust for spacing */
}

.header h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.scroller {
    overflow-x: hidden; /* Hide the scrollbar */
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    white-space: nowrap; /* Prevent line breaks, keep images in one line */
}

.background-container {
    width: 100%;
}

.image-container {
    display: flex; /* Arrange images in a row */
    gap: 10px; /* Space between images */
}

.image {
    max-height: 300px; /* Control image height */
    max-width: 100%; /* Make sure images scale properly */
    -webkit-user-drag: none; /* Disable drag on images */
    user-drag: none; /* Disable drag on images */
}
